
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496919622035'); /* IE9*/
  src: url('iconfont.eot?t=1496919622035#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496919622035') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496919622035') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496919622035#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before { content: "\e607"; }

.icon-chengshi:before { content: "\e608"; }

.icon-dianhua:before { content: "\e609"; }

.icon-jibenxinxi:before { content: "\e60a"; }

.icon-jibenxinxi1:before { content: "\e60b"; }

.icon-chongdianzhuang:before { content: "\e60c"; }

.icon-dianhua1:before { content: "\e60d"; }

.icon-chengshi1:before { content: "\e60e"; }

.icon-guanggaofabu:before { content: "\e60f"; }

.icon-dizhi1:before { content: "\e610"; }

.icon-jibenxinxi2:before { content: "\e611"; }

.icon-xiangxixinxi:before { content: "\e612"; }

.icon-kuaidigui:before { content: "\e613"; }

.icon-qita:before { content: "\e614"; }

.icon-zhiyinshui:before { content: "\e615"; }

.icon-shandian:before { content: "\e616"; }

.icon-kaihuansuo:before { content: "\e617"; }

.icon-qingquwurenshouhuoji:before { content: "\e618"; }

.icon-shequxiche:before { content: "\e619"; }

.icon-tongxunshang:before { content: "\e61a"; }

.icon-lingshouji:before { content: "\e61b"; }

.icon-xiyiyeji:before { content: "\e61c"; }

.icon-xiannai:before { content: "\e61d"; }

